<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ('./templates/header.ejs')%>
</head>
<body>
   <div class="container">
    <h1>Parcial implementacion NodeJs y EJS</h1>
    <div class="form-group">
        <label for="filtroTitulo">Buscar películas por título:</label>
        <input type="text" class="form-control" id="filtroTitulo" name="filtroTitulo" onkeyup="filtrarPeliculas()" placeholder="Ingrese el título">
      </div>
      
      <div class="form-group">
        <label for="filtroAnio">Buscar películas por año de publicación:</label>
        <input type="number" class="form-control" id="filtroAnio" name="filtroAnio" onkeyup="filtrarPeliculas()" placeholder="Ingrese el año">
      </div>
      
      <div class="form-group">
        <label for="filtroInicio">Filtro de fecha de lanzamiento - Inicio:</label>
        <input type="date" class="form-control" id="filtroInicio" name="filtroInicio" onchange="filtrarPeliculas()">
      </div>
      
      <div class="form-group">
        <label for="filtroFin">Filtro de fecha de lanzamiento - Fin:</label>
        <input type="date" class="form-control" id="filtroFin" name="filtroFin" onchange="filtrarPeliculas()">
      </div>
      
      <div class="form-group">
        <button class="btn btn-secondary" onclick="limpiarFiltro()">Limpiar filtro</button>
      </div>
      
    <div class="card">
        <% if (peliculas.size > 0) { %>


            <div class="table-responsive-xl">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Eliminar</th>
                            <th>ID</th>
                            <th>title</th>
                            <th>phase</th>
                            <th>category_name</th>
                            <th>release_year</th>
                            <th>running_time</th>
                            <th>rating_name</th>
                            <th>disc_format_name</th>
                            <th>number_discs</th>
                            <th>viewing_format_name</th>
                            <th>aspect_ratio_name</th>
                            <th>status</th>
                            <th>release_date</th>
                            <th>budget</th>
                            <th>gross</th>
                            <th>time_stamp</th>                    
                        </tr>
                    </thead>
                    <tbody id="tablaPeliculas">
                        <% peliculas.forEach((v,k) => { %>
                            <tr>
                                <td><a class="btn btn-danger" href="/delete/<%=v.movie_id  %>">Eliminar</a></td>
                                
                                <td><%= v.movie_id %></td>
                                <td><%= v.title %></td>
                                <td><%= v.phase %></td>
                                <td><%= v.category_name %></td>
                                <td><%= v.release_year %></td>
                                <td><%= v.running_time %></td>
                                <td><%= v.running_time %></td>
                                <td><%= v.rating_name %></td>
                                <td><%= v.disc_format_name %></td>
                                <td><%= v.number_discs %></td>
                                <td><%= v.viewing_format_name %></td>
                                <td><%= v.aspect_ratio_name %></td>
                                <td><%= v.status %></td>
                                <td><%= v.release_date %></td>
                                <td><%= v.budget %></td>
                                <td><%= v.gross %></td>
                                <td><%= v.time_stamp %></td>
                            </tr>
                        <%})%>
                    </tbody>
        
                </table>
        
            </div>
            
            
        <%  } else {%>
            <h1> No hay datos </h1>
        <% } %>
    </div>

   </div>

   <script>
      function filtrarPeliculas() {
         const filtroTitulo = document.getElementById("filtroTitulo").value.toLowerCase();
         const filtroAnio = document.getElementById("filtroAnio").value;
         const filtroInicio = document.getElementById("filtroInicio").value;
         const filtroFin = document.getElementById("filtroFin").value;
         const tablaPeliculas = document.getElementById("tablaPeliculas");
         const filas = tablaPeliculas.getElementsByTagName("tr");

         for (let i = 0; i < filas.length; i++) {
            const celdaTitulo = filas[i].getElementsByTagName("td")[2];
            const celdaAnio = filas[i].getElementsByTagName("td")[5];
            const celdaFecha = filas[i].getElementsByTagName("td")[13];
            if (celdaTitulo && celdaAnio && celdaFecha) {
               const titulo = celdaTitulo.textContent.toLowerCase();
               const anio = celdaAnio.textContent;
               const fecha = celdaFecha.textContent;
               const mostrarFila = (
                  titulo.includes(filtroTitulo) &&
                  anio.startsWith(filtroAnio) &&
                  (!filtroInicio || fecha >= filtroInicio) &&
                  (!filtroFin || fecha <= filtroFin)
               );
               filas[i].style.display = mostrarFila ? "" : "none";
            }
         }
      }

      function limpiarFiltro() {
         document.getElementById("filtroTitulo").value = "";
         document.getElementById("filtroAnio").value = "";
         document.getElementById("filtroInicio").value = "";
         document.getElementById("filtroFin").value = "";
         filtrarPeliculas();
      }
   </script>

</body>
</html>
